# Include C++ source files for JIT fallback compilation
recursive-include quark/common/csrc *
recursive-include quark/torch/include *
recursive-include quark/torch/kernel/hw_emulation/csrc *
recursive-include quark/onnx/operators/custom_ops *

# Include pre-compiled extension libraries
recursive-include quark/torch/kernel/hw_emulation/lib *.so *.dll *.dylib
recursive-include quark/onnx/operators/custom_ops/lib *.so *.dll *.dylib
