accelerate
evaluate
gguf
git+https://github.com/felipemaiapolo/tinyBenchmarks
immutabledict
langdetect
lm-eval
nltk
onnx
onnx_ir
onnxruntime>=1.22.2,<=1.25.1
onnxruntime_extensions
onnxruntime_genai
opencv-python
Pillow
protobuf>=7.35.0
psutil
py7zr
pydantic
rich
rouge_score
timm
transformers>5,<5.3
