datasets
huggingface-hub~=0.24.5
onnx>=1.21.0,<=1.22.0
onnxruntime>=1.22.2,<=1.25.1
onnxruntime-genai==0.4.0
onnxruntime_extensions>=0.4.2
onnxscript
opencv-python
optimum~=1.21.3
Pillow
pycocotools
torch>=2.7.0,<2.12
torchvision>=0.22.1,<=0.23.0
transformers~=4.43.4
Ultralytics
zstd
