accelerate
addict
ai2-olmo
compressed-tensors>=0.15.0
datasets
easydict
einops
evaluate>=0.4.0
gguf>=0.10.0
lm-eval
matplotlib
nltk
pillow
psutil
tiktoken
transformers<5.3
transformers_stream_generator
zstandard
